#timer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: red;
  height: 200px;
  width: 200px;
}
#timer-label {
}
#time-left {
  font-size: 40px;
}
