#timer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid var(--primary-color);
  height: 200px;
  width: 200px;
  margin-bottom: 16px;
}
#time-left {
  font-size: 40px;
}
