#timer-controls {
  display: flex;
  justify-content: center;
}
#timer-controls > button {
  padding: 0 8px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}
#timer-controls svg {
  width: 32px;
  height: 32px;
  fill: var(--primary-color);
}
